<!DOCTYPE html>
{% load static %}
<html>
  <link rel ="stylesheet" href="{% static 'css/index.css' %}">
  <head>
    <title>DongHyun</title>
  </head>
  <body>
    <h1 class ="title"> Who am I?  </h1>
    <h2>Who?</h2>
    <hr>
    <img class = "image" src = "{% static 'images/pic.jpg' %}">
    <h3>Name</h3>
    <p>Lee Dong Hyun</p>
    <h3>Age</h3>
    <p>24</p>
    <h3>School</h3>
    <p>Dasun elementary school, Dasong middle school, DaeDong high school, <strong style="color:rgb(218, 50, 181)">Dankook University (now 4th grade)</strong></p>
    <h3>Major</h3>
    <p>software </p>
    <hr>
    <h2>Learning?</h2>
    <p> Actually, I do not decide my detail job. So I'm doing lots of things! </p>
    <h3>Language</h3>
    <ul>
      <li>c</li>
      <li>c++</li>
      <li>java</li>
      <li>javascript</li>
    </ul>
    <p>My major language is c++. So, I preparing coding test with c++ language.</p>
    <h3>Web</h3>
    <h4>1. Front-end</h4>
    <p><div>[javascript, React.js] </div> I'm doing on a project using React framework. The project is making community for 40~60 age. <br> Now, I'm doing implementation about login/logout functions<br>
    Below, some pictures about my projects. you can login with email, google, github etc..
    </p>
    <img class = "image" src="{% static 'images/login1.png' %}">
    <img class = "image" src="{% static 'images/login2.png' %}">
    <img class = "image" src="{% static 'images/logingithub.png' %}">
    <img class = "image" src="{% static 'images/create.png' %}">
    <h4>2. Back-end</h4>
    <p> <div>[node.js, spring, django]</div> I started studying back-end lately. So I listening lectures about node.js, spring. Although a project is clone coding, I do on a project with django. <br>
    Below, some pictures about my projects with django clone coding. You can test what is best job for you. </p>
    <img class = "image" src="{% static 'images/mbit.png' %}">
    <img class = "image" src="{% static 'images/mbitresult.png' %}">
    <hr>
    <h2>Hobby?</h2>
    <p>My hobby is listening music. This is my favorite singer and song</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/CyCQYIK5RGs" 
    title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen></iframe>
    &nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp &nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;
    <iframe width="560" height="315" src="https://www.youtube.com/embed/oxdyBUngWow?autoplay=1&mute=1"
     title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
     allowfullscreen></iframe>
    <hr>
    <h2>Goal?</h2>
      <p>I want to be full-stack developer. And I want to be irreplaceable developer. Develop something with code is funny and happy, I satisfied my major. <br>
      Actually, My previous major is indstry engineering. But, When I learned c programming class, I am fascinated programming world. So I decided change my major, and now I'm concentrate coding! <br>
      I hope I will grow everyday. 
      </p>
    <hr>
    <h2>More..</h2>
    <p>
      my blog : <a href="https://hyunn99.tistory.com/">my blog</a> <br>
      email : suudh99@naver.com
    </p>
  </body>
</html>